body{
}
*{
  outline: none !important;
}
a{
  color: #3B3D59;
  transition: all 0.2s ease-in-out;
  &:hover{
    color: #F15C41 !important;
    text-decoration: none;
  }
}
.btn-link{
  &:hover{
    text-decoration: none;

  }
}
.main-title{
  color: #262847;
  font-size: rem(58);
  font-family: $font-bold;
  margin-bottom: 15px;
}
.main-paragraph{
  font-size: rem(24);
  color: #50526B;
}
.center-mode{
  text-align: center;
  .main-paragraph{
    max-width: 700px !important;
    margin: 0 auto;
  }
}
.bg-pink{
  position: relative;
  &:before{
    content: '';
    background: linear-gradient(80.71deg, #F15C41 0%, #FFC847 75.98%);
    opacity: 0.05;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.bg-white{
  background-color: #fff;
}
.main-slide-item{
  margin-bottom: 20px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 0;
    background: #F15C41;
    opacity: 0.2;
    border-radius: 30px;
    margin-right: -20px;
    transition: all 0.3s ease-in-out;
  }
  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 0;
    background: #F15C41;
    opacity: 1;
    border-radius: 30px;
    margin-right: -20px;
    transition: all 0.3s ease-in-out;

  }
  .title{
    color: #50526B;
    font-size: rem(22);
    font-family: $font-semi-bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon{
      width: 40px;
      height: 40px;
      object-fit: contain;
      object-position: center;
      //margin-left: 8px;
      transition: all 0.3s ease-in-out;
    }
    span{
      transition: all 0.3s ease-in-out;
    }
  }
  .paragraph{
    font-size: rem(18);
    color: #50526B;
    margin-bottom: 0;
  }
}
.bg-navy{
  color: #fff;
  background-color: #262847;
}

.footer{
  position: relative;
  padding: 4rem 0;
  overflow: hidden;
  margin-top: 4.5rem;
  z-index: 1;

  .content{
    max-width: 564px;
    margin: 0 auto;
  }
  .main-title{
    color: #fff;
  }
  .main-paragraph{
    opacity: 0.9;
    color: #FFFFFF;
    max-width: 364px !important;

  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 500px;
    border: 80px solid #FFC847;
    border-radius: 50%;
    transform: translate(-55%,-50%);
    z-index: -1;
  }
  &:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    border: 80px solid #27CD74;
    border-radius: 50%;
    transform: translate(55%,50%);
    z-index: -1;
  }
}
.under-footer{
  padding: 4rem 0 0 0;
  .logo{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 10px;
  }
  .footer-logo{
    font-family: $font-bold;
    font-size: rem(30);
  }
  ul{
    padding: 0;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(#262847, 0.1);
  }
  .footer-links{
    color: #262847;
    font-size: rem(20);
    font-family: $font-semi-bold;
    margin-bottom: 12px;
    display: block;
  }
  .footer-p{
    color: #7C7E90;
    font-size: rem(19);
  }
  .copy-rights{
    padding: 2rem 0 2rem 0;
    .footer-p{
      font-size: rem(16);
    }
  }
}
.list-social{
  padding: 0;
  display: flex;
  margin-top: 1.6rem;
  li{
    margin-right: 10px;
    margin-left: 10px;
  }
  a{
    color: #bebfc8;
    display: block;
  }
}
.blue-bg , .bg-blue{
  background: #F9FBFF;
}
.page-loader{
  > div{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    background-color: rgba(#fff, 0.8);
  }
}
