.interface-section{
  .slider1{
    max-width: 98%;
    margin: 0 auto;
    .slick-slide{
      &.slick-active.slick-current{
        .main-slide-item{
          position: relative;


          &:before{
            //height: 90%;
            animation: widthAnimate 2.8s alternate;

          }
          &:after{
            animation: widthAnimate 3s alternate;
            //height: 90%;
            transition-delay: 0.3s;

          }

          //&:before{
          //  width: 100%;
          //}
          //&:after{
          //  width: 100%;
          //  transition-delay: 0.3s;
          //}
          .title , .paragraph{
            color: #262847;
          }
        }
      }
    }
    .main-slide-item{
      margin: 1rem;
      max-width: 320px;
      .title{
        font-size: rem(25);
        color: #262847 !important;
      }
      .paragraph{
        color: #262847 !important;
        font-size: rem(20);
      }

      &:before{
        top: auto !important;
        bottom: 0;
        margin-bottom: -15px;
        width: 0;
        height: 3px !important;
        background-color: rgba(#7C7E90,1);
      }
      &:after{
        top: auto !important;
        bottom: 0;
        margin-bottom: -15px;
        width: 0;
        height: 3px !important;
      }
    }

  }
  .next-step-section{
    padding-top: 4rem;
  }
  //.customer-preview-box{
  //  align-items: flex-end;
  //}
  .slick-slider{
    max-height: 550px;
  }
 .customer-slider-preview{
   overflow: hidden;
   .customer-preview-box{
     width: 600px !important;
     height: 500px;
     &:before{
       content: '';
       width: 150%;
       height: 245px;
       left: 0;
       bottom: 0;
       position: absolute;
       background: linear-gradient(180deg, rgba(249, 251, 255, 0) 13.06%, #F9FBFF 70.43%);
       z-index: 1;
     }
     .image {
       width: 600px;
       height: 500px;
       margin-top: 0;
     }
     .btn {
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
       z-index: 2;
       margin-bottom: 3rem;
     }
     .bg {
       width: 587px;
       height: 416px;
       transform: translate(23%, 57%) rotate(0);
       left: auto;
       right: 0;
     }
   }

 }

}

.feature-apps-payment-section{
  .integration-slider{
    padding: 2rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    //margin: 15px 15px 2.3rem 15px;
    &:after{
      content: "";
      width: 150%;
      height: 245px;
      left: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(
                      180deg
              , rgba(249, 251, 255, 0) 13.06%, rgba(#F9FBFF,0.5) 70.43%);
      z-index: -1;
    }
    .image-preview-background{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height:100%;
      transform: translateY(65%) scale(1.2) rotate(-62deg);
      z-index: -1;
      object-fit: contain;
    }
    .logo-box{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      > div{
        max-width: 33%;
        width: 100%;
      }
    }
    .title{
      font-size: rem(30) !important;
      padding-right: 0;
      font-family: $font-semi-bold;
    }
    .subtitle{
      font-size: rem(24);
    }
    &.second-slider{
      .logo-box{
        margin-top: 5.5rem;
      }
    }
    &.card2{
      //margin-top: 7rem;
      .image-preview-background{
        filter: invert(61%) sepia(71%) saturate(450%) hue-rotate(95deg) brightness(92%) contrast(93%);
        //transform: translateY(65%) translateX(60%) scale(1.2) rotate(162deg);
        transform: translateY(55%) translateX(60%) scale(1) rotate(130deg);
      }
    }
    &.card3{
      margin-top: 7rem;
      .image-preview-background{
        transform: translateY(55%) translateX(-60%) scale(1) rotate(130deg);

      }
    }
    &.card4{
      .image-preview-background {
        transform: translateY(65%) scale(1.1) rotate(
                        106deg
        );
        opacity: 0.1;
      }
    }
  }


}
