.main-nav{
  padding-top: rem(1);
  font-size: rem(18);
  position: fixed;
  width: 100%;
  z-index: 7;
  transition: all 0.2s linear;
  top: 0;
  left: 0;
  &.scrolled{
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(153 153 153 / 16%), 0 3px 6px rgb(219 219 219 / 5%);
  }
  .navbar-light {
    background-color:transparent;
    .navbar-nav{
      .nav-link{
        font-family: $font-medium;
        color: #3B3D59;
        margin-right: 15px;
      }
    }
  }
  .navbar-brand{
    font-family: $font-bold;
    margin-left: 2rem;
    font-size:  rem(25);
    img{
      width: 35px;
      height: 35px;
      object-fit: contain;
      margin-left: 5px;
    }
  }
  .navbar-actions{
    margin-right: 5px;
    margin-left: 5px;
    font-family: $font-semi-bold;
  }

}
