.offers-section{
  font-size: rem(19);
  .content-slide{
    margin-top: 5rem;
  }
  .title{
    font-size: rem(50);
    margin-bottom: 1rem;
  }
  &.bg-navy{

    .main-paragraph{
      color: #fff;
    }
  }
  .main-paragraph{
    margin-bottom: 3rem;
    max-width: 461px;

  }
  .main-paragraph-title{
    font-size: rem(25);
    font-family: $font-semi-bold;
  }
  .image-demo-box{
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: -1rem;
  }
  .image-demo{
    width: 500px;
    height: 450px;
    -o-object-fit: contain;
    object-fit: contain;
    //margin: 0 auto;
    object-position: right;
    margin-right: -2rem;
    margin-left: 0;

  }
  .image-demo-circle{
    position: absolute;
    right: 0;
    /* top: 50%; */
    z-index: -1;
    width: 500px;
    height: 500px;
    -o-object-fit: contain;
    object-fit: contain;
    /* transform: translateY(-50%); */
    bottom: 0;
    margin-bottom: -5rem;
    margin-right: -6rem;

  }
  .list-social{
    a{
      color: #000;
      &:hover{
        color: #27CD74 !important;
      }
    }
  }
}

