
@media (max-width: 1024px) {
  .main-nav .navbar-light {
    background-color: #fff;
  }
  .interface-section{
    .main-slide-item .title{
      justify-content: flex-end;
    }
  }
  .next-step-section{
    .main-slide-item .title{
      flex-direction: row-reverse;
    }
  }
  .interface-section {
    .slider1 .main-slide-item{
      text-align: right;
    }
  }
  .features-section {
    .image-preview{
      display: none;
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px){
  .next-step-section{
    .slick-slider{
      max-height: 700px;
    }
  }
 .main-section .slide-item .content-slide{
    padding-right: 7rem;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .main-section{
    padding: 7rem 2rem 2rem 2rem;
    .title{
      font-size: rem(40);
    }
    .slider-list{
      flex-direction: column-reverse;
      li{
        max-width: 100%;
      }
    }
    .image-demo-box{
      display: none;
    }
  }

}
@media (max-width: 767px) {
  .main-section{
    .slide-item .content-slide{
      padding-right: 1rem;
      max-width: 500px;
    }
    .title{
      font-size: rem(40);
    }
    .slider-list{
      flex-direction: column-reverse;
      li{
        max-width: 100%;
      }
    }

  }
  .customers-section{
    padding: 2rem;
  }
  .main-title{
    font-size: rem(40);
  }
  .interface-section {
    min-height: auto;
    .next-step-section{
      display: none;
    }
  }
  .features-section {
    padding: 6.2rem 2rem 2rem 2rem;

    .image-preview{
      display: none;
    }
  }
  .next-step-section .next-step-slider-preview .customer-preview-box{
    display: none;
  }
  .footer{
    &:before , &:after{
      width: 300px;
      height: 300px;
    }

  }
  .copy-rights{
    .footer-p{
      text-align: center;
    }
    .justify-content-end {
      justify-content: center !important;
    }
  }

}
