@font-face {
  font-family: '29LTZaridSlab-Regular';
  src: url("assets/fonts/29LTZaridSlab-Regular.ttf");
}
@font-face {
  font-family: '29LTZaridSlab-Medium';
  src: url("assets/fonts/29LTZaridSlab-Medium.ttf");
}
@font-face {
  font-family: '29LTZaridSlab-Bold';
  src: url("assets/fonts/29LTZaridSlab-Bold.ttf");
}
@font-face {
  font-family: '29LTZaridSlab-SemiBold';
  src: url("assets/fonts/29LTZaridSlab-SemiBold.ttf");
}

$font-regular: '29LTZaridSlab-Regular';
$font-medium: '29LTZaridSlab-Medium';
$font-semi-bold: '29LTZaridSlab-SemiBold';
$font-bold: '29LTZaridSlab-Bold';
$primary-color: #f44336;


@import "customStyle";
@import "assets/css/common";
@import "assets/css/rtl";
@import "assets/css/navbar";
@import "assets/css/buttons";
@import "assets/css/main-section";
@import "assets/css/customers-section";
@import "assets/css/next-step-section";
@import "assets/css/interface-section";
@import "assets/css/features-section";
@import "assets/css/responsive";
@import "assets/css/contact-us";
//@import "~slick-carousel/slick/slick.css";
//@import "~slick-carousel/slick/slick-theme.css";
body {
  font: 100% $font-medium;
  color: #262847;
  text-align: right;
}
html {
  font-size: rem(16);
  //font-size: 16px;
}

